<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h4>"Clean code always looks like it was written by someone who cares." - Robert C. Martin</h4> -->
        <p class="lead">Computer Engineering undergraduate with intermediate expertise in full-stack software design, web development, 
          and testing. Equipped with a strong foundation in data structures, algorithms, and complex problem-solving, I am eager to leverage 
          my technical skills and adaptability to contribute effectively to a dynamic team. Proven ability to quickly learn and apply new technologies, 
          with a track record of successful project contributions. Seeking an opportunity to apply my background in a challenging role where I can further 
          develop my skills and make a meaningful impact.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
