<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h4>"Clean code always looks like it was written by someone who cares." - Robert C. Martin</h4> -->
        <p class="lead">Computer Engineering undergraduate with intermediate knowledge of full-stack software design, web development, and testing. 
          Seeking to apply my background of excellent technical skills and natural ability to quickly adapt to an environment. 
          Working with a powerful understanding of data structures, algorithms and complex problem-solving puts me in a position to 
          become a vital member of a notable team.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
