<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h4>"Clean code always looks like it was written by someone who cares." - Robert C. Martin</h4> -->
        <p class="lead">Ambitious Computer Engineering with solid intermediate expertise in full-stack software design, web
development, and feature enhancement. Possessing a robust foundation in data structures, algorithms, and complex
problem-solving, I am driven to apply my technical skills and adaptability within a dynamic team environment. Proven
track record of rapidly learning and integrating new technologies. Seeking a challenging role where I can further hone my
skills, make a meaningful impact, and contribute to innovative solutions.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
