<section class="callout" id="callout">
  <div class="text-vertical-center">
    <h3><b>Languages: </b> HTML • CSS/SCSS • Bootstrap/Tailwind • JavaScript • Node.JS/Express • React • Python • Django • Flask • Java • Spring Boot • C++ • Kotlin</h3>
    <h3><b>Databases: </b>MySQL • Postgres • SQLite • MongoDB</h3>
    <h3><b>Tools: </b> Git • PowerShell • Command Prompt • Terminal Cloud</h3>
    <h3><b>Development Practices: </b>REST APIs • OOP • Data Structures • Agile Development</h3>
  </div>
</section>
