<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Henry Bonilla</h1>
    <h3>Full Stack - Software Developer / Web Developer</h3>
    <br>
    <a href="#portfolio" class="btn btn-dark btn-lg">Projects</a>
    <a href="../HB Resume2024.pdf/" class="btn btn-dark btn-lg" target="_blank" rel="noopener noreferrer">View Resumé PDF</a>
    <a href="https://github.com/henryqbonilla/henryqbonilla.github.io/raw/master/HB%20Resume%202024.docx" class="btn btn-dark btn-lg">Download Resumé .docx (Word)</a>
  </div>
</header>
