<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://henryqbonilla.pythonanywhere.com/" target="_blank" rel="noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
              </a>
              <h3>To-Do List Pro</h3>
              <a href="https://github.com/henryqbonilla/ToDoListPro">
                Source Code
              </a>
              <a href="https://henryqbonilla.pythonanywhere.com/">
                Live Demo
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/henryqbonilla/UlisesFlooringCompany">
                <img class="img-portfolio img-responsive" src="img/todolist_sample.gif">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/henryqbonilla/TipCalculatorApp-">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/henryqbonilla/AffirmationsApp">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
