<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <!-- 1ST PROJECT -->
            <div class="portfolio-item">
              <a href="https://henryqbonilla.github.io/travel-website-react/" target="_blank" rel="noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
              </a>
              <h2>React Travel FrontEnd</h2>
              <h4><a href='https://henryqbonilla.github.io/travel-website-react/'>Click here to check it out!</a></h4>
              <a href="https://github.com/henryqbonilla/travel-website-react" target="_blank" rel="noopener noreferrer">
                Source Code | 
              </a>
              <a href="https://henryqbonilla.github.io/travel-website-react/" target="_blank" rel="noopener noreferrer">
                Live Demo
              </a>
            </div>
          </div>
          <!-- 1ST PROJECT -->
          <!-- 2ND PROJECT -->
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://henryqbonilla.pythonanywhere.com/" target="_blank" rel="noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/todolist_sample.gif">
              </a>
              <h2>To-Do List Pro</h2>
              <h4>Demo User: demo | Demo Password: demo1234</h4>
              <a href="https://github.com/henryqbonilla/ToDoListPro" target="_blank" rel="noopener noreferrer">
                Source Code | 
              </a>
              <a href="https://henryqbonilla.pythonanywhere.com/" target="_blank" rel="noopener noreferrer">
                Live Demo
              </a>
            </div>
          </div>
          <!-- END 2ND PROJECT -->
          <!-- 3RD PROJECT -->
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/henryqbonilla/TipCalculatorApp-" target="_blank" rel="noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
              </a>
              <h2>Tip Calculator Android App</h2>
              <h4>AndroidStudios - Kotlin</h4>
              <a href="https://github.com/henryqbonilla/TipCalculatorApp-" target="_blank" rel="noopener noreferrer">
                Source Code 
              </a>
            </div>
          </div>
          <!-- END 3RD PROJECT -->
          <!-- 4TH PROJECT -->
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://github.com/henryqbonilla/AffirmationsApp" target="_blank" rel="noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
              <h2>Affirmations Android App</h2>
              <h4>AndroidStudios - Kotlin</h4>
              <a href="https://github.com/henryqbonilla/AffirmationsApp" target="_blank" rel="noopener noreferrer">
                Source Code 
              </a>
              </a>
            </div>
          </div>
        </div>
        <!-- END 4TH PROJECT -->
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
